[Unit]
Description=JVS Garbage Collection for %i
Documentation=https://github.com/jvs-project/jvs
After=network.target

[Service]
Type=oneshot
User={{ jvs_user }}
Group={{ jvs_group }}
WorkingDirectory=%i/main
ExecStart={{ jvs_bin_dir }}/jvs gc run --force

[Install]
WantedBy=multi-user.target
