apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: jvs-operator-manager-role
rules:
- apiGroups:
  - jvs.io
  resources:
  - workspaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - jvs.io
  resources:
  - workspaces/finalizers
  verbs:
  - update
- apiGroups:
  - jvs.io
  resources:
  - workspaces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - jvs.io
  resources:
  - snapshots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - jvs.io
  resources:
  - snapshots/finalizers
  verbs:
  - update
- apiGroups:
  - jvs.io
  resources:
  - snapshots/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
