---
# Shell completion installation tasks

- name: Get JVS completion for bash
  shell: "{{ jvs_bin_dir }}/jvs completion bash"
  register: jvs_bash_completion
  changed_when: false
  failed_when: false

- name: Install bash completion
  copy:
    content: "{{ jvs_bash_completion.stdout }}"
    dest: /etc/bash_completion.d/jvs
    mode: '0644'
  when: jvs_bash_completion.rc == 0
  tags: ['jvs', 'config', 'completion']

- name: Get JVS completion for zsh
  shell: "{{ jvs_bin_dir }}/jvs completion zsh"
  register: jvs_zsh_completion
  changed_when: false
  failed_when: false

- name: Create zsh completion directory
  file:
    path: /usr/local/share/zsh/site-functions
    state: directory
    mode: '0755'
  when: jvs_zsh_completion.rc == 0

- name: Install zsh completion
  copy:
    content: "{{ jvs_zsh_completion.stdout }}"
    dest: /usr/local/share/zsh/site-functions/_jvs
    mode: '0644'
  when: jvs_zsh_completion.rc == 0
  tags: ['jvs', 'config', 'completion']

- name: Get JVS completion for fish
  shell: "{{ jvs_bin_dir }}/jvs completion fish"
  register: jvs_fish_completion
  changed_when: false
  failed_when: false

- name: Create fish completion directory
  file:
    path: /usr/local/share/fish/vendor_completions.d
    state: directory
    mode: '0755'
  when: jvs_fish_completion.rc == 0

- name: Install fish completion
  copy:
    content: "{{ jvs_fish_completion.stdout }}"
    dest: /usr/local/share/fish/vendor_completions.d/jvs.fish
    mode: '0644'
  when: jvs_fish_completion.rc == 0
  tags: ['jvs', 'config', 'completion']
